@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#services{
    width: 100%;
    padding:70px 0;
    background: White;
    border-radius: 5rem;
}
.service-box{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin:auto;
    flex-wrap: wrap;
}
.single-service{
    flex-basis:48% ;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;

}
.single-service img{
    width: 100%;
    border-radius: 10px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: #ca7968;
    background-image: linear-gradient(315deg, #182b3a 0%, #ca7968 74%);
    opacity: 0;
    transition: 1s;
    color: white;

 }
 .single-service:hover .overlay{ 
    opacity: 1;
 }
 .service-disc{
     width: 80%;
     position: absolute;
     bottom: 40%;
     left: 50%;
     opacity: 0;
     transition: 1s;
     transform: translateX(-50%);
 }
 hr{
     background: #fff;
     height: 2px;
     border: 0;
     margin: 15px auto;
     width: 60%;

 }
 .service-disc h3{
     font-size:5rem;
     text-decoration: underline;
 }
 .service-disc p{
     font-size: 5rem;
 }
 .single-service:hover .service-disc{
     bottom: 40%;
     opacity: 1;

 }
 @media screen and (max-width: 770px){

    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-disc h3{
        font-size: 2rem;
    }
    .service-disc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
     
    .single-service:hover .service-disc{
        bottom: 25% !important;
    }
 }